#coverflow {
    width: 100%;
    position: relative;
    top: 50%;

    perspective: 600px;
}

.slide_active .slideContentInner {
    display: block;
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 1;
}

.slideContentInner .slideTitle {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
}

.slideContentInner .slideSubtitle {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
}

.slideContentInner .slideSubtitle::before {
    content: "— ";
}

.slideContentInner .slideDescription {
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
}

.slide_active:hover {
    box-shadow: 0 0 1em silver;
}

#coverflow section {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 170px;
    height: 170px;

    margin-left: -90px;
    margin-top: -90px;

    background-color: rgb(255, 255, 255);
    background-size: cover;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;

    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), to(rgb(255, 255, 255, 0.2)));
}

#controls {
    position: absolute;
    width: 100%;
    bottom: 30%;
    transform: translateY(50%);
    z-index: 1;

    display: flex;
    justify-content: center;
    gap: 25rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    color: #999;
    font-size: 18px;
}

#controls a {
    color: white;
    cursor: pointer;
}

#controls a:hover {
    color: 66FFFF;
}
